body{
    margin: 0;
    /* max-width: 2000px; */
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    background-color:#f0f8ffd7 ;
}
.header{
    background-image: url(IMG_6630.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
}
.header h1{
    font-size: 50px;
    margin-top: 10rem;
    margin-left: 20px;
    color:hsla(208, 100%, 97%, 0.843) ;
}
.title{
    border-bottom:solid 2px ;
    color: #f0f8ffd7;
    margin-right: 50rem;
    margin-bottom: 10px;
    margin-left: 20px;
}
.header p{
    font-size: 16px;
    margin-left: 20px;
   color: hsla(208, 100%, 97%, 0.843)
}
.nav{
    justify-content: flex-end;
    display: flex;
    background-color:rgb(120, 23, 23);
    width: 100%;
}
.nav a{
    text-decoration: none;
    margin: 15px;
    font-size: 18px;
   color: hsla(208, 100%, 97%, 0.843);
}
.nav-link {
    /* padding-left: 20px; */
    margin-left: 10rem;
    margin-top: 7rem;
    display: flex;
    gap: 5px;
}
.nav-link a{
    padding-left: 20px;
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 6px;
}
.dlink a{
    background-color: hsla(208, 100%, 97%, 0.843);
    color: rgb(229, 165, 91);
}
.dlink a:hover{
    background-color:rgb(120, 23, 23);
    border: 2px solid rgb(120, 23, 23);
}
.dlink2 a{
    background-color: rgb(229, 165, 91);
    color:rgba(240, 248, 255, 0.845);
}

.dlink2:hover a{
    opacity: 0.8;
    color:rgb(120, 23, 23) ;
    border: 2px solid rgb(229, 165, 91);
}

.container{
    margin-top: 70px;
}
.details{
    display: flex;
    justify-content: space-around;
}
.img{
   box-shadow: 1px 1px 15px 0px rgba(104, 101, 101, 0.937); 
   padding-bottom: 15px;
   sition:transform 2s linear;
}

.img:hover{
    transform:scale(1.1)
}

.img-text{
    padding-left: 8px;
}
.img-link a{
    text-decoration: none;
    background-color:rgb(229, 165, 91) ;
    color:rgb(120, 23, 23);
    padding: 8px 20px;
    border-radius: 3px;
}
.img-link{
    padding-left: 8px;
}
.details2{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.footer{
    background-color:rgb(120, 23, 23) ;
    color:rgba(240, 248, 255, 0.845);
    margin-top: 70px;
}
.footer-details , .footer-details2{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.contact{
    padding-left: 10px;
}
.creater{
    text-align: center;padding-bottom: 10px;
}

